# Copy this file to .env and set the values
# below is how it should look like. It's not a valid token, it's just an example.
NEXT_PUBLIC_MOVIE_DB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3NDI1ZGZiNWIzOWFlZDdiYmJhMGNhNjQ2ZjQxOTIzNCIsIm5iZiI6MTczMDM5MzY2My41MzYwMzE3LCJzdWIiOiI2NzIxM2M5N2VlYjBjNWVmM2I5Yjk0YTIiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.JMHaKm29k5DPyiK28BuV1aSjwZOQt1gzPKvSfXottAA