.searchForm{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap ;
}

.searchForm label{
    display: flex;
    flex-flow: column;
    width: 250px;
}

.searchForm input, .searchForm select{
    margin: 0.5rem 0 0 0;
    padding: 0.5rem;
    border: 1px solid var(--secondary-accent-color);
    background-color: var(--text-color);
    border-radius: 0.25rem;
    width: 100%;
    max-width: -webkit-fill-available;
}

@media screen and (max-width: 930px){
    .searchForm{
        width: 100%;
    }
    .searchForm label{
        width: calc( 33% - 1.33rem  );
    }
    
}
@media screen and (max-width: 686px){
    .searchForm label{
        width: 100%;
    }
    
}